[submodule "Engine/ThirdParty/imgui"]
	path = Engine/ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/ThirdParty/yaml-cpp"]
	path = Engine/ThirdParty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "Engine/ThirdParty/msdfgen"]
	path = Engine/ThirdParty/msdfgen
	url = https://github.com/vitei/msdfgen.git
	branch = vitei-master
[submodule "Engine/ThirdParty/nanopb"]
	path = Engine/ThirdParty/nanopb
	url = https://github.com/vitei/nanopb.git
	branch = vitei-settings
[submodule "Engine/ThirdParty/gli"]
	path = Engine/ThirdParty/gli
	url = https://github.com/vitei/gli.git
[submodule "Engine/ThirdParty/ImGuiColorTextEdit"]
	path = Engine/ThirdParty/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
