
_build/
_includes/
_libs/
_rom/

Engine/Core/BuildID.h

*.obj
*.dbo
*.ilk
*.ncb
*.pdb
*.suo
*.ipch
*.sublime-workspace
*.VC.opendb
*.pb.*
*_pb2.py
*.sys.*
*.msuo
**/*.mpuo
*.VC.db

build.ninja
Usagi.sdf
Usagi.opensdf
xcuserdata
Gemfile.lock
.bundle
tags
rm.exe.stackdump
.cabal-sandbox
cabal.sandbox.config
dist
~*.png
/Tools/python/Engine/
Tools/python/**/*.pyc
.vs/config/applicationhost.config
Tools/Source/Ayataka/x64/
Tools/Source/Ayataka/.vs/
Tools/Source/Ayataka/Ayataka/.d
Tools/Source/FontCreator/.vs/
Tools/Source/FontCreator/x64/
Tools/Source/EnvironmentSetup/Release/
Tools/Source/EnvironmentSetup/x64/
Tools/Source/EnvironmentSetup/.vs/
Platform/Tools/Source/ResPak/ResPak/x64/
